label.requerido:after{
    content: " *";
    color: #e73d4a
}

/*****************************************/
/* clases relativas a los márgenes       */
/*****************************************/

.mb-2 {
    margin-bottom: 2px;
}

.mb-3 {
    margin-bottom: 3px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-2 {
    margin-top: 2px;
}

/*****************************************/
/* clases relativas a la fuente de texto */
/*****************************************/

.fuente9 {
    font: 9pt helvetica;
}

.fuente10 {
    font: 10pt helvetica;
}

